version: "3.9"
services:
    mongodb:
        image: mongo:7.0.5@sha256:fcde2d71bf00b592c9cabab1d7d01defde37d69b3d788c53c3bc7431b6b15de8
        ports:
            - "17017:27017"
        restart: unless-stopped
        environment:
            MONGO_INITDB_DATABASE: "message-broker-db"
            TZ: "Europe/Berlin"
    keycloak:
        image: keycloak/keycloak:24.0.4@sha256:ff02c932f0249c58f32b8ff1b188a48cc90809779a3a05931ab67f5672400ad0
        ports:
            - "18080:8080"
            - "10433:8433"
        command:
            - start-dev
            - --health-enabled
            - "true"
            - --import-realm
        environment:
            KEYCLOAK_ADMIN: admin
            KEYCLOAK_ADMIN_PASSWORD: admin
        volumes:
            - ./config/keycloak/private-aim-realm.json:/opt/keycloak/data/import/default-path-realm.json:ro
    proxy:
        image: nginx:1.29.0-alpine@sha256:d67ea0d64d518b1bb04acde3b00f722ac3e9764b3209a9b0a98924ba35e4b779
        ports:
            - "8888:8888"
        volumes:
            -   ./config/proxy/nginx.conf:/etc/nginx/nginx.conf:ro
        command: [nginx-debug, '-g', 'daemon off;']

