services:
  node-a:
    build:
      context: ../../../
    depends_on:
      node-a-db:
        condition: service_healthy
      keycloak:
        condition: service_healthy
    ports:
      - "19088:8090" # management server
      - "18088:18088"
    restart: always
    secrets:
      - priv-key-node-a.pem
      - robot-secret-node-a.txt
    environment:
      AUTH_JWKS_URL: "http://keycloak:8080/realms/privateaim/protocol/openid-connect/certs"
      HUB_AUTH_BASE_URL: "http://172.99.20.11:3000"
      HUB_AUTH_ROBOT_ID: <ROBOT_ID_NODE_A>
      HUB_AUTH_ROBOT_SECRET_FILE: /run/secrets/robot-secret-node-a.txt
      HUB_BASE_URL: "http://172.99.20.10:3000"
      HUB_MESSENGER_BASE_URL: "http://172.99.20.12:3000"
      SECURITY_NODE_PRIVATE_ECDH_KEY_FILE: /run/secrets/priv-key-node-a.pem
      SERVER_PORT: 18088
      PERSISTENCE_HOSTNAME: "node-a-db"
      PERSISTENCE_PORT: 27017
      PERSISTENCE_DATABASE_NAME: "node-message-broker"
      LOG_LEVEL: "debug"
    networks:
      node:
      hub-node-intercomm:
    # The following is necessary for communicating with the test application running on the host machine.
    # Without this no received message can get delivered to the result server provided by the test application.
    extra_hosts:
      - "host.docker.internal:host-gateway"

  node-b:
    build:
      context: ../../../
    depends_on:
      node-b-db:
        condition: service_healthy
      keycloak:
        condition: service_healthy
    ports:
      - "19089:8090" # management server
      - "18089:18089"
    restart: always
    secrets:
      - priv-key-node-b.pem
      - robot-secret-node-b.txt
    environment:
      AUTH_JWKS_URL: "http://keycloak:8080/realms/privateaim/protocol/openid-connect/certs"
      HUB_AUTH_BASE_URL: "http://172.99.20.11:3000"
      HUB_AUTH_ROBOT_ID: <ROBOT_ID_NODE_B>
      HUB_AUTH_ROBOT_SECRET_FILE: /run/secrets/robot-secret-node-b.txt
      HUB_BASE_URL: "http://172.99.20.10:3000"
      HUB_MESSENGER_BASE_URL: "http://172.99.20.12:3000"
      SECURITY_NODE_PRIVATE_ECDH_KEY_FILE: /run/secrets/priv-key-node-b.pem
      SERVER_PORT: 18089
      PERSISTENCE_HOSTNAME: "node-b-db"
      PERSISTENCE_PORT: 27017
      PERSISTENCE_DATABASE_NAME: "node-message-broker"
      LOG_LEVEL: "debug"
    networks:
      node:
      hub-node-intercomm:
    # The following is necessary for communicating with the test application running on the host machine.
    # Without this no received message can get delivered to the result server provided by the test application.
    extra_hosts:
      - "host.docker.internal:host-gateway"

  node-c:
    build:
      context: ../../../
    depends_on:
      node-c-db:
        condition: service_healthy
      keycloak:
        condition: service_healthy
    ports:
      - "19090:8090" # management server
      - "18090:18090"
    restart: always
    secrets:
      - priv-key-node-c.pem
      - robot-secret-node-c.txt
    environment:
      AUTH_JWKS_URL: "http://keycloak:8080/realms/privateaim/protocol/openid-connect/certs"
      HUB_AUTH_BASE_URL: "http://172.99.20.11:3000"
      HUB_AUTH_ROBOT_ID: <ROBOT_ID_NODE_C>
      HUB_AUTH_ROBOT_SECRET_FILE: /run/secrets/robot-secret-node-c.txt
      HUB_BASE_URL: "http://172.99.20.10:3000"
      HUB_MESSENGER_BASE_URL: "http://172.99.20.12:3000"
      SECURITY_NODE_PRIVATE_ECDH_KEY_FILE: /run/secrets/priv-key-node-c.pem
      SERVER_PORT: 18090
      PERSISTENCE_HOSTNAME: "node-c-db"
      PERSISTENCE_PORT: 27017
      PERSISTENCE_DATABASE_NAME: "node-message-broker"
      LOG_LEVEL: "debug"
    networks:
      node:
      hub-node-intercomm:
    # The following is necessary for communicating with the test application running on the host machine.
    # Without this no received message can get delivered to the result server provided by the test application.
    extra_hosts:
      - "host.docker.internal:host-gateway"

  node-a-db:
    image: mongo:7.0.5@sha256:fcde2d71bf00b592c9cabab1d7d01defde37d69b3d788c53c3bc7431b6b15de8
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: "node-message-broker"
      TZ: "Europe/Berlin"
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/node-message-broker --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    networks:
      node:

  node-b-db:
    image: mongo:7.0.5@sha256:fcde2d71bf00b592c9cabab1d7d01defde37d69b3d788c53c3bc7431b6b15de8
    restart: always
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_DATABASE: "node-message-broker"
      TZ: "Europe/Berlin"
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/node-message-broker --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    networks:
      node:

  node-c-db:
    image: mongo:7.0.5@sha256:fcde2d71bf00b592c9cabab1d7d01defde37d69b3d788c53c3bc7431b6b15de8
    restart: always
    ports:
      - "27019:27017"
    environment:
      MONGO_INITDB_DATABASE: "node-message-broker"
      TZ: "Europe/Berlin"
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/node-message-broker --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    networks:
      node:

  # Using a bitnami image since it still comes with curl (compared to the official one) which is required for the
  # healthcheck.
  keycloak:
    image: bitnami/keycloak:26.1.4@sha256:cfbcd98a0032cf82dcf53a3565dd3800af1ca20444d81186869ed2038b8a5a74
    # Ports need to be open so that the test application can make use of it.
    ports:
      - "18080:8080"
      - "10443:8443"
    environment:
      KEYCLOAK_ADMIN: "admin"
      KEYCLOAK_ADMIN_PASSWORD: "admin"
      KC_HEALTH_ENABLED: "true"
      KEYCLOAK_DATABASE_VENDOR: "dev-mem"
      KEYCLOAK_EXTRA_ARGS: "--import-realm"
    volumes:
      - ./config/keycloak/private-aim-realm.json:/opt/bitnami/keycloak/data/import/default-path-realm.json:ro
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/health/ready" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 120s
    networks:
      node:

networks:
  node:
    external: true
  hub-node-intercomm:
    external: true

secrets:
  priv-key-node-a.pem:
    file: ../resources/secrets/priv-key-node-a.pem
  robot-secret-node-a.txt:
    file: ../resources/secrets/robot-secret-node-a.txt
  priv-key-node-b.pem:
    file: ../resources/secrets/priv-key-node-b.pem
  robot-secret-node-b.txt:
    file: ../resources/secrets/robot-secret-node-b.txt
  priv-key-node-c.pem:
    file: ../resources/secrets/priv-key-node-c.pem
  robot-secret-node-c.txt:
    file: ../resources/secrets/robot-secret-node-c.txt
