apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-message-broker
  labels:
    app.kubernetes.io/name: node-message-broker
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: flame
spec:
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: node-message-broker
      app.kubernetes.io/component: server
      app.kubernetes.io/part-of: flame
  template:
    metadata:
      labels:
        app.kubernetes.io/name: node-message-broker
        app.kubernetes.io/component: server
        app.kubernetes.io/part-of: flame
    spec:
      restartPolicy: "Always"
      containers:
        - name: node-message-broker
          image: docker.io/flame/node-message-broker:latest
          imagePullPolicy: "IfNotPresent"
          securityContext:
            runAsNonRoot: true
            runAsUser: 1001
            allowPrivilegeEscalation: false
          ports:
            - containerPort: 8080
          env:
            - name: SERVER_PORT
              value: "8080"
            - name: AUTH_JWKS_URL
              value: <AUTH_JWKS_URL>
            - name: PERSISTENCE_HOSTNAME
              value: "node-message-broker-db"
            - name: PERSISTENCE_PORT
              value: "27017"
            - name: PERSISTENCE_DATABASE_NAME
              value: "message-broker"
            - name: HUB_MESSENGER_BASE_URL
              value: <HUB_MESSENGER_BASE_URL>
            - name: HUB_BASE_URL
              value: <HUB_BASE_URL>
            - name: HUB_AUTH_BASE_URL
              value: <HUB_AUTH_BASE_URL>
            - name: HUB_AUTH_ROBOT_ID
              value: <HUB_AUTH_ROBOT_ID>
            - name: HUB_AUTH_ROBOT_SECRET_FILE
              value: "/tmp/robot-secret.txt"
            - name: SECURITY_NODE_PRIVATE_ECDH_KEY_FILE
              value: "/tmp/private-key.pem"
          volumeMounts:
            - mountPath: "/tmp/private-key.pem"
              name: private-key-file
              subPath: node-private-key
              readOnly: true
            - mountPath: "/tmp/robot-secret.txt"
              name: robot-secret-file
              subPath: robot-secret
              readOnly: true
          resources:
            requests:
              memory: "256Mi"
            limits:
              memory: "512Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: "/health"
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 5
            timeoutSeconds: 10
          livenessProbe:
            httpGet:
              path: "/health"
              port: 8080
            periodSeconds: 10
            timeoutSeconds: 10
      volumes:
        - name: private-key-file
          secret:
            secretName: node
            items:
              - key: node-private-key
                path: node-private-key
        - name: robot-secret-file
          secret:
            secretName: hub-auth
            items:
              - key: robot-secret
                path: robot-secret

