services:
  mysql:
    image: mysql:latest
    restart: always
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      interval: 3s
      timeout: 5s
      retries: 5
    environment:
      MYSQL_ROOT_HOST: "%"
      MYSQL_ROOT_PASSWORD: start123
    volumes:
      - mysql:/var/lib/mysql
    networks:
      hub:

  redis:
    image: bitnami/redis
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 3s
      timeout: 5s
      retries: 5
    environment:
      ALLOW_EMPTY_PASSWORD: yes
    networks:
      hub:

  mq:
    image: rabbitmq:3-management
    hostname: mq
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 3s
      timeout: 5s
      retries: 5
    environment:
      RABBITMQ_DEFAULT_USER: root
      RABBITMQ_DEFAULT_PASS: start123
    networks:
      hub:

  vault:
    image: hashicorp/vault
    healthcheck:
      test: [ "CMD", "wget", "--spider", "--proxy", "off", "http://127.0.0.1:8090/v1/sys/health?standbyok=true" ]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 5s
    volumes:
      - vault:/vault
    environment:
      SKIP_SETCAP: true
      VAULT_DEV_ROOT_TOKEN_ID: start123
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8090
    networks:
      hub:

  authup:
    image: authup/authup
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
      vault:
        condition: service_healthy
    ports:
      - "3001:3000"
    environment:
      DB_TYPE: 'mysql'
      DB_HOST: 'mysql'
      DB_USERNAME: 'root'
      DB_PASSWORD: 'start123'
      DB_DATABASE: 'auth'
      VAULT: start123@http://vault:8090/v1/
      REDIS: redis://redis
      PUBLIC_URL: ${AUTHUP_PUBLIC_URL:-http://localhost:3001/}
      COOKIE_DOMAIN: ${COOKIE_DOMAIN:-localhost}
      AUTHORIZE_REDIRECT_URL: ${PUBLIC_URL:-http://localhost:3001/}
      ROBOT_ADMIN_ENABLED: true
    networks:
      hub:
      hub-node-intercomm:
        ipv4_address: 172.99.20.11

  core:
    image: ghcr.io/privateaim/hub:0.8.7@sha256:70f0c7329755ed46bca71c213104b3011b3f3f2c77dc13747616b2ca0ca2a7cb
    restart: always
    depends_on:
      authup:
        condition: service_healthy
      mq:
        condition: service_healthy
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
      vault:
        condition: service_healthy
    ports:
      - "3000:3000"
    environment:
      REDIS_CONNECTION_STRING: redis://redis
      VAULT_CONNECTION_STRING: start123@http://vault:8090/v1/
      RABBITMQ_CONNECTION_STRING: ${MQ_CONNECTION_URL:-amqp://root:start123@mq:5672}
      PUBLIC_URL: ${CORE_PUBLIC_URL:-http://localhost:3000/}
      HARBOR_URL: ${HARBOR_URL:-}
      AUTHUP_URL: http://authup:3000/
      DB_TYPE: 'mysql'
      DB_HOST: 'mysql'
      DB_USERNAME: 'root'
      DB_PASSWORD: 'start123'
      DB_DATABASE: 'core'
      SKIP_PROJECT_APPROVAL: true
      SKIP_ANALYSIS_APPROVAL: true
      MASTER_IMAGES_BRANCH: ${MASTER_IMAGES_BRANCH:-master}
    networks:
      hub:
      hub-node-intercomm:
        ipv4_address: 172.99.20.10

  messenger:
    image: ghcr.io/privateaim/hub:0.8.7@sha256:70f0c7329755ed46bca71c213104b3011b3f3f2c77dc13747616b2ca0ca2a7cb
    restart: always
    command: messenger start
    ports:
      - "3002:3000"
    depends_on:
      authup:
        condition: service_healthy
      redis:
        condition: service_healthy
      vault:
        condition: service_healthy
    environment:
      REDIS_CONNECTION_STRING: redis://redis
      VAULT_CONNECTION_STRING: start123@http://vault:8090/v1/
      AUTHUP_URL: http://authup:3000/
    networks:
      hub:
      hub-node-intercomm:
        ipv4_address: 172.99.20.12

volumes:
  mysql:
  vault:

networks:
  hub:
    external: true
  hub-node-intercomm:
    external: true
