name: CI

on:
  push:
    branches:
      - '**'
    tags:
      - v[0-9]+.[0-9]+.[0-9]+**
  pull_request:
    branches:
      - develop

jobs:
  # TODO: add build steps, tests, security checks etc. later on!

  release:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    name: Release
    # TODO: add dependencies later on!
    # needs: [ ]
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Package Project
        run: mvn -B -DskipTests package

      - name: Prepare Artifact Versioning Information
        id: prep-artifact-info
        run: |
          echo ::set-output name=repository::$(echo $GITHUB_REPOSITORY | tr '[:upper:]' '[:lower:]')
          echo ::set-output name=version::${GITHUB_REF#refs/tags/v}

      - name: GitHub Docker Registry Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU for multi platform builds
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/${{ steps.prep-artifact-info.outputs.repository }}:latest
            ghcr.io/${{ steps.prep-artifact-info.outputs.repository }}:${{ steps.prep-artifact-info.outputs.version }}
