name: CI

on:
  push:
    branches:
      - 'releases/**'
    tags:
      - v[0-9]+.[0-9]+.[0-9]+**
  pull_request:
    branches:
      - develop

jobs:
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Run Tests
        run: mvn -B test

  integration-tests:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Run Tests
        run: mvn -B verify

  system-tests:
    name: Run System Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Build Application
        run: mvn -B -DskipTests package

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.23.3

      - name: Build System Test Application
        run: go build -C ./system-tests/tests/

      - name: Run Tests
        run: ./system-tests/run.sh

  release:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    name: Release
    needs: [ "unit-tests", "integration-tests", "system-tests" ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Package Project
        run: mvn -B -DskipTests package

      - name: Prepare Artifact Versioning Information
        id: prep-artifact-info
        run: |
          echo ::set-output name=repository::$(echo $GITHUB_REPOSITORY | tr '[:upper:]' '[:lower:]')
          echo ::set-output name=version::${GITHUB_REF#refs/tags/v}

      - name: GitHub Docker Registry Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU for multi platform builds
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/${{ steps.prep-artifact-info.outputs.repository }}:latest
            ghcr.io/${{ steps.prep-artifact-info.outputs.repository }}:${{ steps.prep-artifact-info.outputs.version }}
